apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "access_key_id": "AAAAA",
      "secret_key_id": "BBBBB"
      "region": "eu-west-2a"
    }
