apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "OSC_ACCESS_KEY": "${OSC_ACCESS_KEY}",
      "OSC_SECRET_KEY": "${OSC_SECRET_KEY}",
      "OSC_REGION": "${OSC_REGION}"
    }
