apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "OUTSCALE_ACCESSKEYID": "${OSC_ACCESS_KEY}",
      "OUTSCALE_SECRETKEYID": "${OSC_SECRET_KEY}",
      "OUTSCALE_REGION": "${OSC_REGION}"
    }
